<!-- <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <input type="text" nbInput fullWidth fieldSize="giant" placeholder="Text..">
    <button nbButton type="submit">Add new comment</button>
</form> -->

<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        Mariusz posted at 29.10.2020
    </nb-card-header>
    <nb-card-body>
        Omg, That book is amazing!
    </nb-card-body>
</nb-card>