.search {
    background-color: #f7f9fc;
    // border-color: 
    color: #222b45;    
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1.25rem 1rem;
    // border-style: solid;
    border: 1px #e4e9f2 solid;
}
input:focus, textarea:focus {
    outline: none;
}
