
<!-- <router-outlet></router-outlet> -->
<nb-layout>
    <nb-layout-header fixed>
        <div class="logo__section">
            <a (click)="toggleCompact()" class="toogle__element">
                <nb-icon icon="menu-2-outline"></nb-icon>
            </a>
            <a href="" class="logo">goodreads</a>
        </div>
        <!-- <button nbButton status="info" size="tiny">Goodreads.com</button> -->
        <nb-actions nbContextMenuPlacement="right" class="user__section">
            <nb-action icon="person-outline" [nbContextMenu]="userActions" nbContextMenuTrigger="hover"></nb-action>
            <nb-action [nbContextMenu]="userActions" nbContextMenuTrigger="hover">
                <nb-user [name]="user?.login"></nb-user>
            </nb-action>
        </nb-actions>
    </nb-layout-header>
    
    <nb-sidebar tag="left"  responsive>
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>