.user__section {
    margin-left: auto;
    margin-right: 0.5rem;
}

.logo__section {
    .toogle__element {
        padding-right: 1.25rem;
        cursor:pointer;

        nb-icon {
            font-size: 1.75rem;
            color: #8f9bb3;
        }
    }
    

    .logo {
        border-left: 1px solid #edf1f7;
        padding: 0 1.25rem;
        font-size: 1.75rem;
        white-space: nowrap;
        text-decoration: none;
    }
}

.nb-theme-corporate ng2-smart-table .ng2-smart-actions a.ng2-smart-action {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 2rem !important;
    color: #222b45;
}
.ng2-smart-actions {
    display: flex;

    ng2-st-tbody-custom, ng2-st-tbody-edit-delete {
        margin: auto;
    }
}