/* 
    Author: Mateusz Niełacny
    Index: s16534
    Contact: s16534@pjwstk.edu.pl
    Site: goodreads.com 
    Version: 0.1
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #2f4485;
}

body {
    background: #edf1f7;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #222b45;
}

footer  {
    font-size: .75rem;
    text-transform: uppercase;
    margin-left: 1rem;
    color: #939eb3;
}

.container {
    margin: 2.5vh auto;
    width: 80vw;
}

.content {
    margin: 1rem auto .5rem auto;
    width: 100%;
    min-height: 80vh;
    background-color: #fff;
    border: 1px solid #e4e9f2;
    border-radius: .17rem;
    display: flex;
    flex-direction: column;

}


.btn {
    padding: .75rem;
    background-color: #4c82ea;
    border: .05rem #5675d2 solid;
    /* background-color: #2462d9;
    border: .05rem #36f solid; */
    border-radius: .17rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    background-color: #3a6ed0;
    border-color: #5675d2;
    transition-duration: 0.25s
}

.header {
    display: flex;
    flex-direction: row;
}

.logo a {    
    padding: .75rem;
    display: inline-block;
    font-size: 1.1rem;
    text-transform: uppercase;
}

/*  */
.navigation ul li {
    list-style-type: none;
    width: calc(100%/4);
}

/* .navigation ul li:not(:last-child) {
    border-right: 1px solid #edf1f7;
} */


.navigation ul li a:hover {
    background-color: #3a6ed0;
    /* border-color: #5675d2; */
    color: #edf1f7;
    transition-duration: 0.25s
}
.navigation ul li a {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1.25rem;
    min-height: 50px;
    color: #edf1f7;
}

.navigation ul {
    display: flex;
    flex-direction: row;
}

.navigation {
    /* border-bottom: 1px solid #edf1f7; */
    background-color: #4c82ea;
}


/*  */

.w1-2 {
    width: calc(100%/2);
}

.flex {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: row-reverse;
}

.searchInput {
    width: 100%;
    background: aliceblue;
    border: none;
    padding: 1.25rem;
    color: #20282f;
}

.searchInput:active, .searchInput:active {
    color: #20282f;
}

.authors {
    padding: 1rem;
}
.authors__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px 25px;
}

.author {    
    border: 2px solid white;
    /* display: grid; */
    grid-template-rows: 100px 1fr;
    min-height: 250px;
    background: aliceblue;
    border-radius: .17rem;
    padding: 1rem;
}

.author__image img {
    width: 100px;
}

.author__header, .author__content {
    display: flex;
}