<nb-card *ngIf="book">
    <nb-card-header>
        {{book.title}}
    </nb-card-header>
    <nb-card-body>

        <div class="row">
            <div class="type">
                Title:
            </div>
            <div class="value">
                {{book.title}}
            </div>
        </div>
        <div class="row">
            <div class="type">
                Release date:
            </div>
            <div class="value">
                {{book.releasedate}}
            </div>
        </div>
        <div class="row">
            <div class="type">
                Author:
            </div>
            <div class="value">
                <a routerLink="../../author/{{book.authors.id}}">{{book.authors.first_name}} {{book.authors.last_name}}</a>
            </div>
        </div>
        <div class="row">
            <div class="type">
                Description:
            </div>
            <div class="value">
                {{book.description}}
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card *nbIsGranted="['create', 'comments']">
    <nb-card-header>
       New comment
    </nb-card-header>
    <nb-card-body>
        <form  [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="flex frow">
            <textarea nbInput fullWidth placeholder="Textarea" formControlName="commentText" required></textarea>
            <button status="primary" nbButton class="mt1r" >Add new comment</button>
        </form>
    </nb-card-body>
</nb-card>

<nb-card id="comments" class="comments_section" >
    <nb-card-header>
        <span>Comments</span>
    </nb-card-header>
    <nb-card-body>
        <nb-card *ngFor="let item of book.comments.reverse()">
            <nb-card-header class="flex">
               <!-- <div class="comment_info"> -->
                   <span class="mr-auto">{{item.accounts.login}} posted at {{item.created | date: 'yyyy-MM-dd HH:mm'}}</span>
                <!-- </div> -->
                <div *ngIf="item.accounts.id === accountId || role === 'admin'" class="ml-auto"> 
                    <a (click)="editComment(item)" class="edit-button" nbTooltip="Edit comment" nbTooltipPlacement="bottom">
                        <nb-icon icon="edit-outline" ></nb-icon>
                    </a>
                    <a (click)="deleteComment(item)" class="delete-button" nbTooltip="Delete comment" nbTooltipPlacement="bottom">
                        <nb-icon icon="trash-2-outline"></nb-icon>
                    </a>
                </div>
            </nb-card-header>
            <nb-card-body>
                {{item.comment}}
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>