<nb-card>
    <nb-card-header>
        Hobbit czyli tam i z powrotem
    </nb-card-header>
    <nb-card-body>

        <div class="row">
            <div class="type">
                Title:
            </div>
            <div class="value">
                Hobbit czyli tam i z powrotem
            </div>
        </div>
        <div class="row">
            <div class="type">
                Release date:
            </div>
            <div class="value">
                2014-11-12
            </div>
        </div>
        <div class="row">
            <div class="type">
                Author:
            </div>
            <div class="value">
                J.R.R. Tolkien
            </div>
        </div>
        <div class="row">
            <div class="type">
                Description:
            </div>
            <div class="value">
                Zarówno Hobbit, czyli tam i z powrotem, jak i Władca Pierścieni powstały pod wpływem dobrze znanych autorowi legend staroangielskich, pełnych czarodziejów, smoków i przedmiotów o nadprzyrodzonej mocy. Jednakże sam hobbit, istota większa od liliputa, ale mniejsza od krasnoluda, jest oryginalnym pomysłem Tolkiena. Fantastyczny, przemyślany do najdrobniejszych szczegółów świat z powieści także powstał w wyobraźni pisarza, a barwna fabuła kryje głębszy sens i wiele analogii do współczesności.
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card class="comments">
    <nb-card-header>
        <span>Comments</span>
        <a href="">
            <nb-icon icon="plus-square"></nb-icon>
        </a>
    </nb-card-header>
    <nb-card-body>
        <app-comments></app-comments>
    </nb-card-body>
</nb-card>