.comments_section {
    nb-card-header {
        display: flex;
        nb-actions {
            nb-action {
                a {
                    margin-left: auto;
                    margin-top: 2px;
                    nb-icon {
                        font-size: 2rem;
                    }
                }
            }
        }


        span {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

nb-card-body {
    // display: flex;
    .row {
        flex-direction: row;
        display: flex;
        line-height: 1.5rem;

        .type, .value {
            display: flex;
            flex-direction: column;
        }

        .type {
            width: 15%;
            font-weight: 600;
        }

        .value {
            width: 85%;
        }

    }

}

.flex {
    display: flex;
}

.frow {
    flex-direction: column;
}

.mt1r {
    margin-top: .7rem;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.delete-button {
    cursor: pointer;
    color: red;
}

.edit-button {
    cursor: pointer;
}