
        <nb-layout>
            <nb-layout-column>
                <div class="container">
                    <nb-card accent="info" class="item" *ngFor="let book of data">
                        <nb-card-header class="item__header">{{book.title}}</nb-card-header>
                        <nb-card-body class="item__content">
                            {{book.description}}
                        </nb-card-body>
                        <nb-card-footer class="card">
                            <button nbButton status="primary" routerLink="/book/{{book.id}}">Read more</button>
                            <button nbButton status="basic" routerLink="/book/{{book.id}}#comments">Comments</button>
                        </nb-card-footer>
                    </nb-card>
                </div>
            </nb-layout-column>
        </nb-layout>