<nb-layout>
    <nb-layout-column>
        <nb-card *ngIf="author">
            <nb-card-header>
                {{author.first_name}} {{author.last_name}}
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="type">
                        First name:
                    </div>
                    <div class="value">
                        {{author.first_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="type">
                        Last name:
                    </div>
                    <div class="value">
                        {{author.last_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="type">
                        Birth date:
                    </div>
                    <div class="value">
                        {{author.birth}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                Books
            </nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let book of author.books">
                  <a routerLink="../../book/{{book.id}}">{{ book.title }}</a>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </nb-layout-column>
</nb-layout>