

nb-card-body {
    // display: flex;
    .row {
        flex-direction: row;
        display: flex;
        line-height: 1.5rem;

        .type, .value {
            display: flex;
            flex-direction: column;
        }

        .type {
            width: 15%;
            font-weight: 600;
        }

        .value {
            width: 85%;
        }

    }

}